@using Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_Layout";
    var treatments = ViewBag.Treatments as List<TreatmentEntity>;
}
@model List<InspectionEntity>
<div class="row">
    <div class="col-md-12 grid-margin">
        <form href="/Admin/Vet/DetailsVet">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">Приемы данного врача</h4>
            </div>
            
            <div>

                    <input type="hidden" name="id" value="@Model?.FirstOrDefault()?.VetId" id="vetId" />


                    <input type="text" class="form-control form-control-sm" id="datetimepicker2" name="Date" value="@ViewBag.Date" style="width:200px">



                </div>
            <div>
                    
                    <button type="submit" class="btn btn-primary btn-icon-text btn-rounded">
                        <i class="ti-search  btn-icon-prepend"></i>поиск
                    </button>
            </div>
            
        </div>
        </form>

    </div>
   
           
    @for (var i = 1; i < Model.Count(); i++)
    {

        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <p class="card-description">
                        Кличка животного:  @Model[i].Animal?.NickName
                    </p>
                    <p class="card-description">
                        Описание назначения:  @Model[i].Description
                    </p>
                    <p class="card-description">
                        Тип приема: @(Model[i].Animal?.VetId != null ? "Проходит лечение" : "на осмотр")
                    </p>

                    <a href="/Admin/Vet/DeleteInspection/@(Model[i]?.Id)" class="btn btn-outline-danger btn-fw">Удалить</a>


                </div>
            </div>
        </div>


    }
    
  
</div>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">Питомцы проходящие лечение у данного врача</h4>
            </div>
           
        </div>
    </div>
    @foreach (var item in treatments)
    {
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <p class="card-description">
                        Кличка животного:  @item.Animal?.NickName
                    </p>
                   
                    <p class="card-description">
                        Дата начала:  @item.DateStart.GetValueOrDefault().ToShortDateString() Дата конца: @item.DateEnd.GetValueOrDefault().ToShortDateString();
                    </p>

                  


                </div>
            </div>
        </div>
    }
    
</div>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">График нагрузки врача</h4>
            </div>

        </div>
    </div>
  
    <p class="fs-6">Имя</p>
    <input type="text" class="form-control form-control-sm"  id="searchDate" style="width:200px">
    <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">График загруженности </h4>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
@section Scripts{
    <script>
        let chart;
        function getBar() {
           
            var id = $("#vetId").val();
            var date = $("#searchDate").val();
            if (date == " " || date == "") {

                date = dt.getMonth() + 1 + " " + dt.getFullYear();
            }
            console.log(date);
            $.ajax({
                url: '/Admin/Vet/GetStatictic',
                data: { id: id, date: date },
                type: 'POST',
                success: function (result) {
                    var test = JSON.parse(result)
                    console.log(test);
                    const ctx = document.getElementById('barChart');
                    if (chart) {
                        chart.destroy();
                        chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: test[0],
                                datasets: [{
                                    label: 'степень загруженности',
                                    data: test[1],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    } else {
                        chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: test[0],
                                datasets: [{
                                    label: 'степень загруженности',
                                    data: test[1],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                    


                }
            });
        }
        $('#datetimepicker2').Zebra_DatePicker({
            
            inside: false,
            
           
           
        });
        var dt = new Date();
        $('#searchDate').Zebra_DatePicker({
            format: 'm Y',
            onSelect: function () {
                getBar();
            },
        });
       
        $(document).ready(function(){
            
           getBar();
           



        })
    </script>
}