@using Entities;
@using Entities.SearchParams;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_Layout";
    var search = ViewBag.Search as VetSearchParams;
}
@model List<VetEntity>
<style>
    div#expand {
        display: none;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 10px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>
<div class="row">
    <div >
    <div class="col-md-12 grid-margin">
        <form action="/Admin/Vet/Index">
                <div class="d-flex align-items-center" id="clickToSearch">
                    <h4 class="font-weight-bold mb-0">Поиск</h4>
                    <i class="arrow up" id="arr"></i>
                </div>
            <div id="expand">
                <div class="d-flex justify-content-between align-items-center">

                    <div>

                        <input type="text" class="form-control form-control-sm" name="date" id="searchDate" value="@ViewBag.Date" style="width:200px">

                    </div>

                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>

                        <div>
                            <p class="fs-6">Имя</p>
                                <input type="text" class="form-control form-control-sm" name="Name" value="@search?.Name" style="width:200px">

                        </div>
                    </div>
                    <div>

                        <div>
                            <p class="fs-6">Фамилия</p>
                            <input type="text" class="form-control form-control-sm" name="LastName" value="@search?.LastName" style="width:200px">

                        </div>
                    </div>
                    <div>

                        <div>
                            <p class="fs-6">Отчество</p>
                                <input type="text" class="form-control form-control-sm" name="FatherName" value="@search?.FatherName" style="width:200px">

                        </div>
                    </div>
                    <div>

                        <button class="btn btn-primary btn-icon-text btn-rounded" type="submit" id="search">
                            <i class="ti-search  btn-icon-prepend"></i>поиск
                        </button>
                    </div>
                </div>
            </div>
          
        </form>
       
    </div>
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">Ветеринары</h4>
            </div>

           
            <div>
                <a href="/Admin/Vet/AddVet" class="btn btn-primary btn-icon-text btn-rounded">
                    <i class="ti-face-smile  btn-icon-prepend"></i>Добавить ветеринара
                </a>
            </div>
        </div>
    </div>
</div>
    @foreach (var item in Model)
    {
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="@item.PhotoParth" style="width:100px;height:100px;margin-left: auto; margin-right: auto;  display: block; padding-bottom:10px" />
                    <h4 class="card-title">@(item?.Name + " " + item?.LastName + " " + item?.FatherName)</h4>
                    <p class="card-description">
                        телефон:  @item?.Phone
                    </p>
                    <p class="card-description">
                        <button class="btn btn-outline-primary btn-fw vet" data-bs-toggle="modal" data-bs-target="#exampleModal" data="@item.Id" style="
    margin-left: 40px;
" >Назначить прием</button>
                    </p>
                    <a href="/Admin/Vet/DetailsVet/@(item.Id)" class="btn btn-outline-primary btn-fw">Просмотреть</a>
                    <a href="/Admin/Vet/DeleteVet/@(item?.Id)" class="btn btn-outline-danger btn-fw">Удалить</a>


                </div>
            </div>

        </div>
    }

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Заявка на приемы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <form id="form" action="/Admin/Vet/CreateInspection" method="post" >
                <div class="modal-body">

                    <input type="hidden" name="Id" value="0" />
                    <input type="hidden" name="VetId" id="VetId"/>
                   

                    <div class="card-body">
                        

                        <div class="form-group">
                            <label>Владелец</label>
                            <select class="form-control" id="select2"  asp-items="@ViewBag.AnimalOwners" style="width:450px">
                            </select>
                        </div>
                      
                        <div class="form-group">
                            <label>Питомец</label>
                            <select class="form-control" id="animals"  style="width:450px" name="AnimalId" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>дата приема</label>

                            <input type="text" class="form-control form-control-sm" id="datetimepicker2" name="Date" style="width:425px" required>
                        </div>
                        <div class="form-group">
                            <label>время приема</label>

                            <input type="text" class="form-control form-control-sm" data-time-format="H:i" id="timepiker" name="Time" style="width:425px" required>
                        </div>

                        <div class="form-group">
                            <label>Описание</label>

                            <input type="text" class="form-control form-control-sm"  name="Description" >
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
          
           
            

            $("#clickToSearch").click(function () {
                $("#expand").slideToggle()
                if ($("#arr").hasClass("up")) {
                    $("#arr").removeClass("up").addClass("down");

                }
                else{
                    $("#arr").removeClass("down").addClass("up");
                }
            });
            $(".vet").click(function () {
              
                $("form")[0].reset();
                var id = $(this).attr("data")
                $.ajax({
                    url: '/Admin/Vet/GetDisableDates',
                    data: { id: id },

                    success: function (data) {
                        var test = ['* * * 0,6']
                        console.log(data)
                        test = test.concat(JSON.parse(data));
                        console.log(test);
                        $('#datetimepicker2').Zebra_DatePicker({

                            inside: false,
                            disabled_dates: test,
                            onChange: function (view, elements) {
                                console.log(elements);
                            },
                            onSelect: function () {
                                var date = $("#datetimepicker2").val();
                                
                                alert("test");
                                $.ajax({
                                    url: '/Admin/Vet/GetDisableTimes',
                                    data: { date: date, id: id },

                                    success: function (data) {
                                        data = JSON.parse(data)

                                        $('#timepiker').timepicker({
                                            'step': '60',
                                            'minTime': '10:00',
                                            'maxTime': '18:00',
                                            'disableTimeRanges': data

                                        });
                                    }
                                })
                            }
                        });
                    }
                })
                $("#VetId").val(id)
            })
          
            $('#searchDate').Zebra_DatePicker({

                inside: false,
                disabled_dates: ['* * * 0,6']
            });
            $("#select2").select2({
                dropdownParent: $("#exampleModal")
            });
            $("#animals").select2({
                dropdownParent: $("#exampleModal")
            })
            $("#select2").change(function(){
                var animal = $(this).val()
              
                 $.ajax({
                    url: '/Admin/Vet/GetAnimalAjax',
                    data: {id:animal},
                    type: 'POST',
                    success: function (data) {
                        $('#animals').empty();
                        data = JSON.parse(data)
                        data.forEach((element) => {
                            console.log(element)
                            $('#animals').append('<option value="' + element["Id"] + '">' + element["NickName"] + '</option>')
            
                        })
                    }
                });
            })
        })
    </script>
}