@using Entities;
@using System.Web;
@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    var mail = ViewBag.Mail as List<SelectListItem>;
    var animalOwnerId = ViewBag.AnimalOwnerId as int?;
    var items = Model;
}
@model List<AnimalEntity>

<div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h4 class="font-weight-bold mb-0">Питомцы</h4>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Создать нового питомца
            </button>
        </div>
    </div>
</div>
<div class="row" >
    @foreach (var item in Model)
    {
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <img src="@item.PhotoParth" style="width:100%;margin-left: auto; margin-right: auto;  display: block; padding-bottom:10px" />
                        <h4 class="card-title"></h4>
                        <p class="card-description" >
                            Кличка: @item.NickName
                        </p>
                        <p class="card-description" >
                            Порода: @item.Breed
                        </p>
                        <p class="card-description" >
                            Дата рождения:@(item.Birthay?.ToShortDateString())
                        </p>
                        <p class="card-description" >
                            пол:@(item.Gender==true?"Мужской":"Женский")
                        </p> 
                         @if (item.Vet != null){
                        <p class="card-description" >
                            диагноз: @(item.Diagnoses?.OrderByDescending(i=> i.Date).FirstOrDefault().Name)
                        </p>
                   
                    
                        <p class="card-description">
                            лечащий врач: @item.Vet.Name @item.Vet.FatherName
                        </p>
                    }
                        <a  class="btn btn-outline-danger btn-fw" id="delete"asp-area="Admin" asp-controller="AnimalOwner" asp-action="DeleteAnimal" asp-route-id="@item.Id" asp-route-ownerId="@item.AnimalOwner" >Удалить</a>



                    </div>
                </div>
            </div>
    }

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создание питомца</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" >
                <div class="modal-body">

                    <input type="hidden" name="Id" value="0" />
                    <input type="hidden" name="VetId" />
                    <input type="hidden" name="AnimalOwner" value="@animalOwnerId" />

                    <div class="card-body">
                        

                        <div class="form-group">
                            <label>Кличка</label>
                            <input type="text" class="form-control form-control-lg"  aria-label="Username" name="NickName" required>
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectGender">Пол</label>
                            <select class="form-control" id="exampleSelectGender" name="Gender" asp-items="@mail">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Порода</label>
                            <input type="text" class="form-control form-control-sm" name="Breed" required>

                        </div>
                        <div class="form-group">
                            <label>дата рождения</label>

                            <input type="text" class="form-control form-control-sm" id="datetimepicker2" name="Birthay" style="width:425px" required>
                        </div>
                        <div class="form-group">
                            <label>Изображение</label>
                            <input type="file" name="img[]" class="file-upload-default" id="image">
                            <img href="" id="im" style="width:100px;height:100px;margin-left: auto; margin-right: auto;  display: block;" />
                            <div class="input-group col-xs-12">
                                <input type="hidden" id="test" name="PhotoParth" />

                                <input type="text" class="form-control file-upload-info" name="PhotoParth" disabled >
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Загрузить</button>
                                </span>
                            </div>
                            
                        </div>





                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

@section Scripts{
        <script type="text/javascript">
        $('.file-upload-default').on('change', function () {
            var file = new FormData();
            file.append("File", $(this)[0].files[0]);
            console.log(file);
            $.ajax({
                url: "/Admin/AnimalOwner/AddPhoto",
                contentType: false,
                processData: false,
                data: file,
                type: "POST",

                success: function (data) {

                    $("#test").val(data);
                    $("#im").attr("src", data);
                    console.log($("#test").val())
                }

            })
        });
        $(document).ready(function () {
            $('#datetimepicker2').Zebra_DatePicker({

                inside: false
            });
            $("#form").submit(function () {
                alert("test")
                var animal = $(this).serialize();
                $.ajax({
                    url: '/Admin/AnimalOwner/SaveAnimal',
                    data: animal,
                    type: 'POST',
                    success: function () {
                        location.reload();
                    }
                });

                return false;
            });

        })

            
          
        </script>

}
